# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [10]:
# Import sqlite3 and pandas.
import pandas as pd
import sqlite3

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [11]:
# Create a new database called exercises.db.
conn = sqlite3.connect('test.db')

print ("Opened database successfully");

Opened database successfully

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [12]:
# Create a new table in your database.
conn = sql.connect('test.db')

print ("Opened database successfully");

conn.execute('''favoite_books.db 
    (Id  int    primary key not null,
    Title   text    not null,
    Author  text    not nill, 
    Description text    not null
); ''')
print ("Table created successfully"); 

conn.close()

Opened database successfully

OperationalError: near "favoite_books": syntax error

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [13]:
# Add your 3 favorite books to your table.
conn.execute("INSERT INTO favoite_books.db (Id, Title, Author, Description) \
    VALUES (1, 'book title 1', 'author 1', 'description 1')");

conn.execute("INSERT INTO favorite_books.db ("Id, Title, Author, Description) \
    VALUES (2, 'book title 2', 'author 2', 'description 2')");

conn.execute("INSERT INTO favoite_books.db (Id, Title, Author, Description) \
    VALUES (3, 'book title 3', 'author 3', 'description 3')");

SyntaxError: invalid syntax (1965744339.py, line 5)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [15]:
# Write your SELECT query here.
SELECT *
FROM test.db.favorite_books

SyntaxError: invalid syntax (4020785288.py, line 2)

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [19]:
# Use Pandas to make a new table in your database.
favorite_movies = {'Id':  ['1', '2', '3'],
        'Title': ['Title 1', 'Title 2', 'Title 3']
        }

df = pd.DataFrame(favorite_movies)

print(df)

  Id    Title
0  1  Title 1
1  2  Title 2
2  3  Title 3

In [23]:
import sqlite3 
conn = sqlite3.connect('test_database')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS favorite_movies (Id number, Title text)')
conn.commit()

data = {'Id': ['1','2','3'],
        'Title': ['Movie 1', 'Movie 2', 'Movie 3']

df = pd.DataFrame(data, columns= ['Id','Title'])
df.to_sql('favorite_movies', conn, if_exists='replace', index = False)

c.execute('''  
SELECT * FROM products
          ''')

for row in c.fetchall():
    print (row)

SyntaxError: invalid syntax (1304456752.py, line 11)